.home-layout {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 120px);
  background-color: #121212;
  color: #fff;
}

/* Columna lateral izquierda (canales) */
.canales-sidebar {
  width: 15%;
  min-width: 180px;
  background-color: #181818;
  padding: 10px 8px 10px 4px; 
  border-right: 1px solid #2a2a2a;
  margin-left: 0; 
}

/* Contenido principal */
.home-content {
  flex: 1;
  padding: 30px 40px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}
